@import "vars";
@import "null";
@import "libs";
@import "fonts";
@import "global";

body{
  background: #000;
}
section{
  color: #fff;
  background: #000;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    font-family: sans-serif;
  }
}


.clip{
  perspective: 100px;
  position: absolute;
  background-image: url(../img/unsplash3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.clip1{
  clip-path: polygon(50% 0%, 100% 0, 33% 5%, 100% 70%, 100% 100%, 10% 70%, 0 100%, 0% 70%, 30% 90%, 0 0);
}
.clip2{
  clip-path: polygon(50% 55%, 100% 50%, 50% 100%, 10% 70%, 100% 70%, 70% 0%, 0 70%, 0% 50%, 40% 60%, 20% 15%);
}
.clip3{
  clip-path: polygon(90% 80%, 10% 90%, 0% 5%, 100% 20%, 17% 70%, 20% 11%, 100% 7%, 60% 11%, 30% 90%, 20% 100%);
}



@import "media";
